<model-viewer src="./assets/models/Astronaut.glb"
              ios-src="./assets/models/iOS/Astronaut.usdz"
              poster="./assets/models/Astronaut.png"
              ar ar-modes="webxr scene-viewer quick-look" ar-scale="auto" ar-placement="wall"
              camera-controls auto-rotate>

  <button slot="ar-button">
    👋 Activate AR
  </button>

  <div class="slider">
    <div class="slides">

      <button id="Astronaut" class="slide selected"
              (click)="switchSrc('Astronaut')"
              style="background-image: url('./assets/models/Astronaut.png');"></button>

      <button id="Phone" class="slide"
              (click)="switchSrc('Phone')"
              style="background-image: url('./assets/models/Phone.png');"></button>

      <button id="Calender" class="slide"
              (click)="switchSrc('Calender')"
              style="background-image: url('./assets/models/Calender.png');"></button>

    </div>
  </div>
</model-viewer>
